<% provide(:title, 'All users') %>
<h1 id="all_user">All users</h1>

 <!--<%= will_paginate %>-->
<%= will_paginate @books, :previous_label => ' &lt ︎', :next_label => '︎ &gt' %> 

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @books, :previous_label => ' &lt ︎', :next_label => '︎ &gt' %> 